p code {
  border: 1px solid rgb(113, 113, 113);
  padding: 2px;
  border-radius: 5px;
}
pre {
  border: 1px solid rgb(113, 113, 113);
  padding: 20px;
  border-radius: 10px;
  width: 90vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
